.fcr-container {
  font-size: 32px;
  font-weight: 500;
}

.fcr-title {
  margin-left: 25px;
  margin-bottom:18px;
  color: var(--night);

  font-size: 44px;
  font-weight: 700;
}

.fcr-title span {
  color: var(--feldgrau);
}

.fcr-list {
  margin: 0 auto;
  padding: 20px;
  padding-left: 30px;
  border-radius: 30px;
  background-color: var(--white);
  list-style-type: none;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.fcr-list-item {
  width: 300px;
  padding: 5px;
  background-color: var(--white);
  border-radius: 30px;
  color: var(--feldgrau);

  position: relative;
}

.fcr-list-item span {
  color: var(--light-green);
  background-color: var(--white);
  cursor: default;

  font-weight: 900;
}

.fcr-currency-name {
  z-index: 100;
  background-color: var(--smoke);
  color: var(--feldgrau);
  border-radius: 5px;
  cursor: default;

  font-size: 9px;
  font-weight: 700;

  position: absolute;
  bottom: 0;

  opacity: 0;

  transition: all 150ms;
}

.fcr-list-item:hover .fcr-currency-name {
  opacity: 1;
}

.fcr-date {
  color: var(--night);
  text-align: right;
  margin-top: 3px;
  margin-right: 25px;

  font-size: 11px;
}

.fcr-date span {
  color: var(--feldgrau);
}
