.cc-chart-container {
  width: 80%;
}

.cc-chart-title {
  margin-top: 7px;
  color: var(--text);
  text-align: center;

  font-size: 26px;
  font-weight: 700;
}

.cc-chart-title span {
  color: var(--interactive);

  font-weight: 900;
}

@media only screen and (max-width: 720px) {
  .cc-chart-container {
    width: 85%;
    margin-block: 7px;
  }

  .cc-chart-title {
    font-size: 21px;
  }
}