//Primary
$chart-gold: rgb(208, 173, 57);
$growth-pos: rgb(43, 125, 43);
$growth-neg: rgb(150, 30, 30);
$bright-blue: rgb(50, 104, 205);


$page-bg: rgb(22,23,34);
$text-color-primary: rgb(255,255,255);
$text-color-secondary: rgb(150, 150, 150);
$vd-desaturated-blue: rgb(37, 39, 60);
$currency-border:  hsl(237, 14%, 26%);
