//Primary
$chart-gold: rgb(208, 173, 57);
$growth-pos: rgb(62, 180, 62);
$growth-neg: rgb(195, 43, 43);
$bright-blue: rgb(50, 104, 205);
$bright-blue-bg: rgb(20, 48, 102);


$page-bg: rgb(22,23,34);
$text-color-primary: rgb(255,255,255);
$text-color-secondary: rgb(150, 150, 150);
$vd-desaturated-blue: rgb(37, 39, 60);
$currency-border:  hsl(237, 14%, 26%);
