.gold-section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gold-section-buttons-title {
  max-width: 70rem;
  margin: 1rem auto;
  font-weight: 700;
  /* letter-spacing: 0.3rem; */
}

.gold-section-buttons-container {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}

.gold-section-chart-container {
  margin: 2rem;
  width: 60rem;
}
