.home-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.currency-converter-container {
  display: flex;
  gap: 7rem;
}

.currency-img {
  width: 25rem;
  height: 25rem;
}

.gold-section-container {
  margin-top: 5rem;
}

.currency-table-container {
  width: 70rem;
}
