@use "../utils" as *;
.btn{
  margin: 2.4em 1em;
  padding: 1em 2em;
  display: flex;
  align-items: center;
  color: $text-color-primary;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid transparent;
  background-color: $bright-blue;
}