@use "../utils" as *;
.converter-container{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  max-width: 550px;
  @include respond-to("s"){
    flex-direction: row;
  }
}