@use '../utils' as *;
.box{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  & > h2, & > p{
    text-align: center;
  }
  & > p{
    color: $text-color-secondary;
  }
}
.selectables{
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  &__selectable{
    margin: 1em 0;
    padding: 1em;
    width: 250px;
    display: flex;
    flex-grow: 0;
    background-color: $vd-desaturated-blue;
    border-radius: 8px;
    &__label{
      margin-left: 1em;
      flex-grow: 1;
    }
}
}