@use "../utils" as *;
.gold{
  margin-top: 2em;
  padding: 1em;
  padding-bottom: .5em;
  position: relative;
  z-index: 1;
  width: 90%;
  max-width: 900px;
  background-color: $vd-desaturated-blue;
  border-radius: 8px;
  @include respond-to('l'){
    //max-width: 500px;
    grid-area: 1 / 1 / 3 / 2;
  }
  &__current{
    display: flex;
    justify-content: space-around;
    margin-top: 1em;
    padding: .5em 0;
    p{
      text-align: center;
      width: 120px;
      &:last-child{
        width: 133px;
      }
    }
    &__growth{
      color: $growth-pos;
      &--neg{

        color: $growth-neg;
      }

      &__arrow{

        &--pos{
          transform: rotateZ(180deg);
        }
      }
    }
  }
  &__hr{
    margin: .4em 0;
    border: 1px solid $currency-border;
  }
  &__list{
    list-style-type: none;
    height: 400px;
    overflow-y: scroll;
    overflow-x: auto;
    @include respond-to('l'){
      height: 820px;
    }
    &__entry{
      display: flex;
      justify-content: space-around;
      padding: .5em 0;
      border-bottom: 1px solid $currency-border;
      &:last-child{
        border: none;
      }
    }
  }
}