@use "../utils" as *;
.gold{
  margin-top: 2em;
  padding: 1em;
  padding-bottom: .5em;
  position: relative;
  z-index: -10;
  width: 90%;
  background-color: $vd-desaturated-blue;
  border-radius: 8px;
  &__current{
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
    padding: .5em;
    &__growth{
      color: $growth-pos;
      &--neg{

        color: $growth-neg;
      }

      &__arrow{

        &--pos{
          transform: rotateZ(180deg);
        }
      }
    }
  }
  &__hr{
    margin: .4em 0;
    border: 1px solid $currency-border;
  }
  &__list{
    list-style-type: none;
    height: 400px;
    overflow-y: scroll;
    &__entry{
      display: flex;
      justify-content: space-around;
      padding: .5em 0;
      border-bottom: 1px solid $currency-border;
      &:last-child{
        border: none;
      }
    }
  }
}