@use "../utils" as *;
.wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include respond-to('l'){
    padding: 1em;
    flex-direction: row;
  }
}
.grid{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, 1fr);
  place-items: center;
  @include respond-to('l'){
    height: calc(100vh + 60px);
    grid-template-columns: repeat(2, 1fr);
    align-items: start;
  }
}