.components-tests {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  min-width: 100vw;
  background-color: aliceblue;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}