@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  background-color: #eff1f8;
}

*::-webkit-scrollbar {
  width: 14px;
}

*::-webkit-scrollbar-thumb {
  border: 3px solid rgba(0, 0, 0, 0);
  background-color: #b7b7b7;
  border-radius: 999px;
  background-clip: padding-box;
}

*::-webkit-scrollbar-corner {
  background: transparent;
}
